
.App {
  text-align: center;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@font-face {
  font-family: bader;
  src: url('./fonts/bader_al\ merkaz_0.ttf');
  font-family:frutiger-bold ;
  src: url('./fonts/FrutigerLTArabic-65Bold.ttf');
  font-family: frutiger-black;
  src: url('./fonts/FrutigerLTArabic-75Black.ttf');
  font-family: hisham;
  src: url('./fonts/HishamLTRegular.ttf');
}

.Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: hisham;
}

/* signup page*/
.logo {
  margin-top: 13vh;
  margin-bottom: 10vh;
}
.txt1 {
  font-family: hisham;
}
.txt2 {
  opacity:0.3 ;
  margin-bottom: 6vh;
}
.inputBox {
  height:6vh;
  width:35vh;
  background-color: #FFFCF1;
  border-radius:8px;
  margin-bottom: 3vh;
  padding:3px;
  
}
.submit-btn {
  border: none;
  display: block;
}
/* Rewards1 page*/
 .reward-img {
  margin-top: 15vh;
  margin-bottom: 10vh;
 }
.coin-img {
  margin-top: 25px;
}
/* Rewards2 page */
.points {
  position: absolute;
  right: 2%;
  background-color: #FFFCF1;
  border-radius: 15px;
  color: #483307;
  width: 19vh;
  height: 6vh;
 
}
.wallet {
  position: absolute;
  margin-top: 85px;
  left: 7%;
}
.redeem {
  position: absolute;
  margin-top: 85px;
  right: 7%;
}
.rewards-container {
  justify-content: center;
  margin-top: 150px;

}
.rewards-container .coupon-box.coupon1 {
  position: relative;
  display: flex;
  height: 25vh;
  background-color:rgb(255, 232, 209) ; 
  border-radius:20px;
  margin-top: 10px;
  width: 90%;
  color: #342802;
  align-items: center;
  margin-left:3vh
}
.rewards-container .coupon-box.coupon1 .coupon-img {
  display: flex;
  width: 15vh;
  
}
.rewards-container .coupon-box.coupon1 .coupon-txt {
  align-self: center;
}

/*Rewards3 page */
.redeems-container{
  justify-content: center;
  margin-top: 150px;
}
.redeems-container .hover-txt {
  position: relative;
  display: flex;
  color:#FFFCF1;
   opacity:0.8;
   margin-top: 10px;
   justify-content: center;

}
.redeems-container .redeem1 {
  position: relative;
  display: flex;
  height: 70px;
  background-color:#ffe8d1 ; 
  border-radius:20px;
  margin-top: 10px;
  width: 90% ;
  color: #342802;
  align-items: center;
  justify-content: space-between;
  margin-left:3vh

}

/* Settings page */
.avatar {
  margin-top: 30px;
}
.settings-main {
  margin-top: 20px;
}
.section {
  background-color: #FFFCF1;
  border-radius: 8px;
  color: #342802;
  margin-bottom: 5px;
  width: 40vh;
  padding: 3px;
  justify-content: space-between;
}
.section-phone {
  background-color: #FFFCF1;
  border-radius: 8px;
  color: #342802;
  margin-bottom: 5px;
  width: 40vh;
  padding: 3px;
  
}
.phone-num {
  margin-left: 20px;
  margin-right: 5px;
}
/* Change page */
.change-main {
  margin-top: 30vh;
}
/* About page*/
.about-txt{
 margin-right: 5vh;
 margin-left: 5vh;
}
/* Help page*/
.help-main {
  margin-top: 110px;
}
.searchBox {
  width: 40vh;
  background-color: rgb(255, 252, 241);
  border-radius: 3px;
}
.questions-container {
  margin-top:50px ;
  width: 40vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 30vh;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid hsl(47, 100%, 97%, 50%);

}
.questions-container h5{
  opacity: 0.9;
  margin-top: 10px;

}
.contact {
  height: 22vh;
  width: 40vh;
  background-color: #FFFCF1;
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 5px;
  border-radius: 3px;
}
.contact h6 {
  opacity: 0.6;
}
.contact-btn {
  width: 15vh;
  height: 5vh;
  border-radius: 3px;
  padding: 3px;
  margin-top: 8px;
}
.contact-form input{
  display: flex;
  height: 35px; 
  width: 30vh;
  border-radius: 3px;
}
.contact-btn {
  width: 10vh;
}
.contact-btn button {
  background-color: rgb(0,0,0,0);
  border: none;
  color: #FFFCF1;
}
/* popup */
.popup {
  background-color:'#FFFCF1';
    height:250px;
    position:'absolute';
    top:220;
    width:250;
    border-radius: 8px;
    padding: 5px;
}

